/* debug */
.debug{
    border:2px solid red;
    height: 50%;
    width: 50%;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.container{
    max-width:1200px;
    margin:20px auto;
    padding: 20px 30px;
    flex-wrap: wrap;
    gap: 10px;
}

/* utility colors */
:root {
	--color-nav: #ff6900;
	--color-text-nav: #e7e6e5;
	--color-green-badge: #008000;
	--color-red-badge: #ff0000;
	--color-black: #1a1a1a;
	--color-text-footer: #ffffff;
}

/* icons */
.fa-user, .fa-heart, .fa-bag-shopping{
    color: var(--color-text-nav);
    padding: 5px;
}

/* body */
body{
    font-family: "Roboto", sans-serif;
}

/* flex utility */
.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.direction-row{
    flex-direction: row;
}

.align-items{
    align-items: center;
}

.align-content{
    align-content: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-flex-star{
    justify-content: flex-start;
}
.wrap{
    flex-wrap: wrap;
}

/* header */
header{
    width: 100%;
    background-color: var(--color-nav);
}

.scroll{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-nav);
    z-index: 1001;
}

nav{
    padding: 10px; 
    
}

nav ul li{
padding: 0px 10px 0px 10px;  
list-style: none;
}

.anchor-bar-nav{
    text-decoration: none;
    color: var(--color-text-nav);   
}

nav div img{
    width: 15%;
    text-align: center;
    display: inline-block;
}



/* main */
main{
    width: 100%;
    margin-top: 150px;

}

.card{
    width: calc(100% / 3 - 10px);
    cursor:pointer;
}

main img{
    width: 100%;
}
.secondary-image{
    display: none;
}

.card:hover .main-image{
    display:none;
}
.card:hover .secondary-image{
    display:block;
}
.swaping:hover{
    display: none;
    width: 100%
}

.card-image-top{
position: relative;
}

.card-text-bottom{
}

.brand-text{
    color: grey;
    font-size: 12px;
}

.red-text{
    color: var(--color-red-badge);
}

.line-through{
    text-decoration: line-through;
    color: var(--color-black);
}

/* footer */
footer{
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-text-footer);
}

